/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}*/
/*html, body{
  overflow: hidden !important;
}*/

main {
  flex: 1 0 auto;
}

/*body > #root{
  height: 100vh !important;
}*/

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h1{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif;
}

h3, h6{
  font-family: Helvetica;
}

img{
  /*width: 100%;*/
  min-height: 20%;
}

.container{
  width: 90% !important;
}

.welcome{
  background-color: #f4f4f4;
  padding: 20px;
}

.track{
  min-height: 500px;
}

.contents{
  margin-top: 8%;
}

.coyDescr{
  padding: 20px;
}

.imgTitle{
  background-image: url('./imgs/BackTax.jpg');
  background-size: cover;
  background-position: center center;
  height: 300px;
  margin: 0;
  color: #fff;   
}

.imgTitle::before{
  content: 'Taxation';
  position: absolute;
  height: 300px;
  text-align: center;
  padding-top: 100px;
  font-size: 70px;   
  display: block;         
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  width: 100% !important;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
  height: 314px;

}

.imgTitle{
  padding-top: 100px;

}


.imgTitleAcct{
  background-image: url('./imgs/BackAccting.jpg');
  background-size: cover;
  background-position: center center;
  height: 300px;
  margin: 0;
  color: #fff; 
}

.imgTitleAcct{
  padding-top: 100px;
}

.imgTitleAcct::before{
  content: 'Accounting';
  position: absolute;
  height: 300px;
  text-align: center;
  padding-top: 100px;
  font-size: 70px;   
  display: block;         
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  width: 100% !important;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
  height: 314px;
}

.imgTitleAbt{
  background-image: url('./imgs/BackAccting.jpg');
  background-size: cover;
  background-position: center center;
  height: 300px;
  margin: 0;
  color: #fff;
}

.imgTitleAbt::before{
  content: 'About Us';
  position: absolute;
  height: 300px;
  text-align: center;
  padding-top: 100px;
  font-size: 70px;   
  display: block;         
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  width: 100% !important;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
  height: 314px;
}

.imgTitleAbt{
  padding-top: 100px;
}

nav .servNav{
  margin-top: 0px !important;
}

.active{
  background-color: #fff;
  color: #C42828;
  font-weight: 5px solid;
}

.formCard{
  margin-top: 40px;
}

.imgTitleCntct{
  background-image: url('./imgs/Slider_Payroll_Services.jpg');
  background-size: cover;
  background-position: center center;
  height: 300px;
  margin: 0; 
  color: #fff; 
}

.imgTitleCntct{
  padding-top: 100px;
}

.imgTitleCntct::before{
  content: 'Contact Us';
  position: absolute;
  height: 300px;
  text-align: center;
  padding-top: 100px;
  font-size: 70px;   
  display: block;         
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  width: 100% !important;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
  height: 314px; 
}

.imgTitleServ::before{
  content: 'Services';
  position: absolute;
  height: 300px;
  text-align: center;
  padding-top: 100px;
  font-size: 70px;   
  display: block;         
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  width: 100% !important;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
  height: 314px;   
}

.imgTitleServ{
  background-image: url('./imgs/Slider_Payroll_Services.jpg');
  background-size: cover;
  background-position: center center;
  height: 300px;
  margin: 0; 
  color: #fff; 
}

#carText{
  position: fixed;
  margin-top: -80px;
  color: #ffffff;
}

#Logo{
  width: 30%;
  margin-top: 10px;
  /*border-radius: 35%;*/
}

#taxItems{
  padding:10px;
}

#root > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#serviceBtn{
  margin: 20px;
}

#ppleImg{
  padding: 30px;
}









@media only screen and (max-width: 768px){
  #fbPic{
    width: 345px;
    height: 196px;
  }

  #ppleImg{
  }

  #ppleImg img{
    /*width: 345px;*/
    height: 200px;
  }

  .imgTitle::before{
    content: 'Taxation';
    position: absolute;
    height: 300px;
    text-align: center;
    padding-top: 150px;
    font-size: 40px;   
    display: block;         
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    width: 100% !important;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 356px;

  }

  .imgTitleAcct::before{
    content: 'Accounting';
    position: absolute;
    height: 300px;
    text-align: center;
    padding-top: 150px;
    font-size: 40px;   
    display: block;         
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    width: 100% !important;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 356px;
  }

  .imgTitleAbt::before{
    content: 'About Us';
    position: absolute;
    height: 300px;
    text-align: center;
    padding-top: 150px;
    font-size: 40px;   
    display: block;         
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    width: 100% !important;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 356px;
  } 

  .imgTitleCntct::before{
    content: 'Contact Us';
    position: absolute;
    height: 300px;
    text-align: center;
    padding-top: 150px;
    font-size: 40px;   
    display: block;         
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    width: 100% !important;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 356px;
  } 

  .imgTitleServ::before{
    content: 'Services';
    position: absolute;
    height: 300px;
    text-align: center;
    padding-top: 100px;
    font-size: 70px;   
    display: block;         
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    width: 100% !important;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;
    height: 314px;   
  }  


}